extends layout

block content
  h1= title
  p Welcome to our test

  //WRAPPER
  #wrapper
    //USER LIST
    h2 User List
    #userList
      table
        thead
          tr
            th UserName
            th Email
            th Delete ?
        tbody
    // /USER LIST
  // /WRAPPER